@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");

body {
    font-family: "Almarai", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }

  .scrollable-checkboxes {
    max-height: 300px; 
    overflow-y: auto;
  }
  
.table-container {
  width: 100%;
  font-family: "Almarai", sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #FFFFFF;
    padding: 10px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ffffff;
    /* border-radius: 28px; */
    background-color: #ffffff;
  }
  
  .user-table th,
  .user-table td {
    width: 100%;
    padding: 22px 18px;
    text-align: left;
    
  }
  
  .user-table th {
    background-color: #F5F5F5;
    color: #747474;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  
  .user-table a {
    color: #3498db;
    text-decoration: none;
  }
  
  .user-table a:hover {
    text-decoration: underline;
  }
  
  .user-table td {
    border-bottom: 1px solid #ddd;
  }
  
  /* header stylings */
  .desktop-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./Background.jpg);
    padding: 20px 10px;
  }
  .desktop-header h1{
    color: #ffffff;
    font-size: 25px;
  }
  
  .search-folder {
    display: flex;
    align-items: center;
    color: #F9FCFF;
  }
  
  .edit-icon {
    cursor: pointer;
    font-size: 16px;
  }

  .edit-action{
    border: 1px solid #D9D9DC;
    padding: 5px;
    display: flex;
  }
  
  .Edit-Button{
    border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #72c1dc;
  border-radius: 5px;
  }
  
  .search-input {
    width: 360px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 28px;
  }
  
  /* Pagination styles */
.pagination {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color:#111542;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #FFFFFF;
    color: #111542;
    border: 0.2px solid #747474 ;
  }
  
  .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #2db0e0;
    border: 2px solid #111542;
  }

  .dropdown-checkbox {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .dropdown-checkbox input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .form-label{
    font: 700;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 12px;
  }

.mobile-user-table{
    display: none;
}
.filter-sort-rows {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.filter-btn, .sort-btn {
  display: flex;
  align-items: center;
  background-color: #FFA500;
  color: #333;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  padding: 25px 50px;
  font-size: 14px;
}

.filter-btn svg, .sort-btn svg {
  margin-right: 5px;
}

/* ALL, ACTIVE, INACTIVE count buttons */
.status-counts {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 10px 0px;
}

.count-btn {
  background-color: #72c1dc;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
}



.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button:hover:not(:disabled) {
  background-color: #e0e0e0;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination select {
  margin-left: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: #333;
}

.pagination select:focus {
  outline: none;
  border-color: #007bff;
}

.pagination option {
  padding: 10px;
  background-color: white;
}



.table-container {
  max-width: 100%;
  overflow-x: auto;
  
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  display: block; /*  table can scroll horizontally */
}

.user-table th, .user-table td {
  padding: 10px;
  text-align: left;
}

.user-table th {
  background-color: #f4f4f4;
}

.Edit-Button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-table a {
  color: #3498db;
  text-decoration: none;
}

.user-table a:hover {
  text-decoration: underline;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.location-dropdown-center {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin-bottom: 20px; 
}


/* Multiselect Dropdown */
.multiselect-container {
  max-width: 550px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* padding: 10px; */
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  padding-left: 20px;
}

.multiselect-container .optionListContainer {
  max-height: 150px; 
  overflow-y: auto;
}

.multiselect-container .selectedListContainer {
  padding: 5px;
  background-color: #f7f7f7;
  /* border: 1px solid #ddd; */
  border-radius: 3px;
  margin-top: 5px;
}

.multiselect-container .optionListContainer li {
  padding: 5px;
  cursor: pointer;
}

.multiselect-container .optionListContainer li:hover {
  background-color: #f0f0f0;
  color: #000000;
}


/* Dropdown Toggle Button */
.multiselect-container .dropdown-heading {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f0ad4e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.multiselect-container .dropdown-heading:hover {
  background-color: #ec971f;
}

.multiselect-container .close-icon {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px),(min-width: 1024px) and (max-width: 1283px) {
  .table-container {
    width: 1317px; 
    }
    .user-table {
      width: 100%;
      border-collapse: collapse;
      overflow-x: auto;
      display: block; /* This ensures the table can scroll horizontally */
    }
    
    .header-bg{
      width: 100%;
    }
    
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #FFFFFF;
      padding: 10px;
    }

    .desktop-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url(./Background.jpg);
    }
    .desktop-header h1{
      color: #ffffff;
      font-size: 25px;
    }
    
    .search-folder {
      display: flex;
      align-items: center;
      color: #F9FCFF;
    }
    
    .user-table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 1px solid #ffffff;
      border-radius: 28px;
      background-color: #ffffff;
    }
    
    .user-table th,
    .user-table td {
      padding: 22px 10px;
      text-align: left;
      
    }
    
    .user-table th {
      background-color: #F5F5F5;
      color: #747474;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin: 10px;
    }
    
    .user-table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .user-table tr:hover {
      background-color: #ddd;
    }
    
    .user-table a {
      color: #3498db;
      text-decoration: none;
    }
    
    .user-table a:hover {
      text-decoration: underline;
    }
    
    .user-table td {
      border-bottom: 1px solid #ddd;
    }

.edit-icon {
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
}
.edit-action{
  border: 1px solid #D9D9DC;
  padding: 5px;
  display: flex;
}

.search-input {
  width: 360px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 28px;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: #111542;
  color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #FFFFFF;
  color: #111542;
  border: 0.2px solid #747474 ;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #2db0e0;
    border: 2px solid #111542;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button:hover:not(:disabled) {
  background-color: #e0e0e0;
}

.pagination .active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination select {
  margin-left: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  color: #333;
}

.pagination select:focus {
  outline: none;
  border-color: #007bff;
}

.pagination option {
  padding: 10px;
  background-color: white;
}


.dropdown-checkbox {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.dropdown-checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.form-label{
  font: 700;
  font-weight: bold;
  text-transform: uppercase;
}

.mobile-user-table{
  display: none;
}
}

/* Mobile View */
@media only screen and (max-width:500px) and (max-width: 767px),(min-width:500px) and (max-width: 767px) {
    .user-table {
      display: none;
    }
  
    .mobile-user-table {
      display: block;
      margin: 20px;
    }
    .mobile-user {
      padding: 10px;
      border: 1px solid #DBDBDB;
      margin-bottom: 12px;
      border-radius: 5px;
      color:#000000;
      background-color: #FAFAFA;
    }
  
    .status-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* padding: 5px 0; */
    }
    .status-btn{
        margin-right: 51%;
    }
  
    .info-left,
    .info-right {
      padding: 5px 0;
    }
    .info-left, .th{
        text-decoration: #000000;
        text-transform: uppercase;
        font-weight: bold;
    }
    .desktop-header {
        background-image: url(./Rectangle\ 13.jpg);
        height: 100px;
        width: 100%;
        }

      .desktop-header h1{
        color: #ffffff;
        font-size: 20px;
        text-align: center;
      }
      
      .search-folder {
        display: flex;
        align-items: center;
        color: #F9FCFF;
      }
      
      .folder-icon {
        margin-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        color: #FFFFFF;
      }

    .search-folder{ 
        margin-left: -10rem;
    }

    .search-input {
        width: 200px;
        padding: 5px;
        
        border: 1px solid #ccc;
        border-radius: 28px;
      }

      .mobile-filter-sort {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-button,
.sort-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  cursor: pointer;
}

.filter-icon,
.sort-icon {
  margin-right: 8px;
}

.mobile-status-filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.status-button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.status-button.active {
  background-color: #9de09e;
}

.status-button.inactive {
  background-color: #faaaab;
}

.filter-sort-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.filter-btn, .sort-btn {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  padding: 8px 50px;
  font-size: 14px;
}

.filter-btn svg, .sort-btn svg {
  margin-right: 5px;
}

/* ALL, ACTIVE, INACTIVE count buttons */
.status-counts {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.count-btn {
  background-color: #72c1dc;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
}
  }


  /* Mobile View min 320*/
@media only screen and (max-width:320px),(max-width: 499px) 
{
  .user-table {
    display: none;
  }

  .mobile-user-table {
    display: block;
  }


  .mobile-user {
    border: 1px solid #DBDBDB;
    margin-bottom: 12px;
    border-radius: 5px;
    color:#000000;
    background-color: #FAFAFA;
  }

  .status-row {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
  }
  .status-btn{
      margin-right: 51%;
  }

  .info-left,
  .info-right {
    padding: 5px 0;
  }
  .info-left, .th{
      text-decoration: #000000;
      text-transform: uppercase;
      font-weight: bold;
  }
  
    .user-table {
      display: none;
    }
  
    .mobile-user-table {
      display: block;
    }

  
    .mobile-user {
      border: 1px solid #DBDBDB;
      margin-bottom: 12px;
      border-radius: 5px;
      color:#000000;
      background-color: #FAFAFA;
    }
  
    .status-row {
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0;
    }
    .status-btn{
        margin-right: 51%;
    }
  
    .info-left,
    .info-right {
      padding: 5px 0;
    }
    .info-left, .th{
        text-decoration: #000000;
        text-transform: uppercase;
        font-weight: bold;
    }

    .desktop-header {
        background-image: url(./Rectangle\ 13.jpg);
        height: 100px;
        width: 100%;
        }

      .desktop-header h1{
        color: #ffffff;
        font-size: 20px;
        text-align: center;
      }
      
      .search-folder {
        display: flex;
        align-items: center;
        color: #F9FCFF;
      }
      

    .search-input {
        width: 190px;
        border: 1px solid #ccc;
        border-radius: 28px;
        font-size: 14px;
      }

      .mobile-filter-sort {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-button,
.sort-button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  cursor: pointer;
}

.filter-icon,
.sort-icon {
  margin-right: 8px;
}

.mobile-status-filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.status-button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.status-button.active {
  background-color: #9de09e;
}

.status-button.inactive {
  background-color: #faaaab;
}

.filter-sort-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.filter-btn, .sort-btn {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
  padding: 8px 50px;
  font-size: 14px;
}

.filter-btn svg, .sort-btn svg {
  margin-right: 5px;
}

.status-counts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 5px;
}
.count-btn {
  background-color: #72c1dc;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
}

.locations-drp{
  display: none;
}
  }
